.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 123px;
}

.profile__container {
  width: 410px;
}

.profile__form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile__flex {
  padding: 0;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile__text {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  border: none;
  text-align: end;
  width: 50%;
}

.profile__input:focus {
  border-bottom: 1px solid #2be080;
}

.profile__line {
  margin-top: 16px;
  margin-bottom: 17px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.form__inputError {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  top: 18px;
  left: 0;
  opacity: 0;
  width: 100%;
}

.form__inputError_active {
  opacity: 1;
}

.profile__errorMessage {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  bottom: 65px;
  left: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
}

.profile__errorMessage_active {
  opacity: 1;
}

.profile__edit {
  margin: 220px auto 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 0;
  width: 100%;
  border-radius: 3px;
  cursor: auto;
}

.profile__edit_active {
  background: #2be080;
  color: #fff;
}

.profile__exit {
  margin-top: 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
}

@media screen and (max-width: 790px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__edit {
    margin-top: 210px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__container {
    width: 260px;
  }

  .profile__edit {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__exit {
    font-size: 12px;
    line-height: 15px;
  }
}
