.project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  text-decoration: none;
  color: #000;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
  }
  
  &__arrow {
    width: 29px;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 790px) {
  .project__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 570px) {
  .project {
    height: 28px;
    
    &__title {
      font-size: 22px;
      line-height: 28px;
    }

    &__arrow {
      width: 25px;
      font-size: 25px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 450px) {
  .project {
    &__title {
      font-size: 18px;
      line-height: 28px;
    }
  
    &__arrow {
      width: 18px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
