.aboutProject {
  background-color: #fff;
  padding: 110px 70px;
}

.aboutProject__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: -0.04em;
}

.aboutProject__line {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-top: 23px;
}

.aboutProject__list {
  display: flex;
  gap: 40px;
  margin-top: 70px;
}

.aboutProject__item {
  max-width: 550px;
  width: 100%;
}

.aboutProject__subtitle {
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0;
}

.aboutProject__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 26px;
}

.aboutProject__scale {
  display: flex;
  margin-top: 110px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.aboutProject__backend {
  flex-shrink: 3.771;
  max-width: 228px;
  width: 100%;
  font-weight: 400;
}

.aboutProject__scale-backend {
  background-color: #2be080;
  padding: 9px 0;
}

.aboutProject__scale-subtitle {
  margin-top: 14px;
  color: #a0a0a0;
}

.aboutProject__frontend {
  flex-shrink: 1;
  max-width: 912px;
  width: 100%;
  font-weight: 400;
}

.aboutProject__scale-frontend {
  background-color: #f2f2f2;
  padding: 9px 0;
}

@media screen and (max-width: 790px) {
  .aboutProject {
    background-color: #fff;
    padding: 90px 50px;
  }

  .aboutProject__list {
    gap: 30px;
  }
  .aboutProject__item {
    max-width: 319px;
  }

  .aboutProject__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .aboutProject__scale {
    margin-top: 93px;
  }

  .aboutProject__scale-backend {
    min-width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .aboutProject {
    background-color: #fff;
    padding: 70px 18px;
  }

  .aboutProject__title {
    font-size: 18px;
    line-height: 21.78px;
  }

  .aboutProject__line {
    margin-top: 28px;
  }

  .aboutProject__list {
    flex-direction: column;
    margin-top: 60px;
    gap: 56px;
  }

  .aboutProject__subtitle {
    font-size: 18px;
    line-height: 21.78px;
  }

  .aboutProject__description {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .aboutProject__scale {
    margin-top: 60px;
    font-size: 11px;
    line-height: 13.31px;
    text-align: center;
  }

  .aboutProject__scale-backend {
    padding: 11px 0;
  }

  .aboutProject__scale-frontend {
    padding: 11px 0;
  }

  .aboutProject__scale-subtitle {
    margin-top: 10px;
  }
}
