.form__set {
  border: 0;
  padding: 0;
  margin: 0px;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.form__legend {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input {
  padding: 0;
  padding-top: 5px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__input:focus-visible {
  outline: 0;
}

.form__input:focus {
  border-bottom: 1px solid #2be080;
}

.form__input_type_error {
  color: #ee3465;
}

.form__input_type_error:focus {
  border-bottom: 1px solid #ee3465;
}

.form__input-error {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0;
  width: 100%;
}

.form__input-error_active {
  opacity: 1;
}
