.portfolio {
  padding: 100px 70px 125px;
}

.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__flex {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.portfolio__line {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 9px;
  margin-bottom: 20px;
}

@media screen and (max-width: 790px) {
  .portfolio {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 450px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__flex {
    margin-top: 40px;
  }

  .portfolio__line {
    margin-top: 19px;
  }
}
