@import '../../../styles/mixins.scss';

.portfolio {
  padding: 100px 70px 125px;

  &__title {
    @include text-size(18px, 20px, 400);
    margin: 0;
    color: #a0a0a0;
  }
  
  &__flex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  &__line {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 9px;
    margin-bottom: 20px;
  }
}

@include largeScreen {
  .portfolio {
    padding: 90px 50px;
  }
}

@include smallScreen {
  .portfolio {
    padding: 70px 14px;

    &__title {
      @include text-size(14px, 20px, 400);
    }
  
    &__flex {
      margin-top: 40px;
    }
  
    &__line {
      margin-top: 19px;
    }
  }
}
