.header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.header__link_type_logo {
  width: 38px;
  height: 38px;
}

.header__navigation {
  display: flex;
  gap: 30px;
}

.header__navigation_type_movies {
  width: 100%;
  margin-left: 44px;
  justify-content: space-between;
  align-items: center;
}

.header__flex {
  display: flex;
  gap: 16px;
}

.header__navLink {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.header__navLink_active {
  font-weight: 500;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.header__link_type_signin {
  background-color: #2be080;
  padding: 8px 20px;
  border-radius: 3px;
}

.header__navLink_type_profile {
  width: 100px;
  background: #f9f9f9;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
}

@media screen and (max-width: 790px) {
  .header {
    padding: 0 30px;
  }

  .header__navigation_type_movies {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 14px;
  }

  .header__navigation {
    gap: 26px;
  }

  .header__link {
    font-size: 10px;
  }

  .header__link_type_signin {
    padding: 5px 12px;
  }
}
