.popupWithError {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.popupWithError_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s;
}

.popupWithError__container {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.popupWithError__title {
  margin: 0;
  color: #ee3465;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.popupWithError__subtitle {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.popupWithError__button {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0 10px;
  background-color: #2be080;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #fff;
  border-radius: 3px;
}

@media screen and (max-width: 450px) {
  .popupWithError__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
