@import '../../../styles/mixins.scss';
@import '../../../styles/consts.scss';

.form {
  &__set {
    border: 0;
    padding: 0;
    margin: 0px;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  &__legend {
    @include text-size(10px, 12px, 400);
    color: #a0a0a0;
  }

  &__input {
    @include text-size(14px, 17px, 400);
    padding: 0;
    padding-top: 5px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    color: #000;

    &:focus-visible {
      outline: 0;
    }
    
    &:focus {
      border-bottom: 1px solid $greenColor;
    }
    
    &_type_error {
      color: $redColor;
    }
    
    &_type_error:focus {
      border-bottom: 1px solid $redColor;
    }
  }

  &__input-error {
    @include text-size(10px, 12px, 400);
    color: $redColor;
    position: absolute;
    top: 38px;
    left: 0;
    opacity: 0;
    width: 100%;

    &_active {
      opacity: 1;
    }
  }
}