.footer {
  padding: 69px 70px 20px;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
}

.footer__line {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 20px;
}

.footer__flex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__yandex {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__text {
  margin: 0;
}

.footer__link {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 790px) {
  .footer {
    padding: 69px 30px 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 79px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 14.52px;
  }

  .footer__line {
    margin-top: 21px;
  }

  .footer__flex {
    margin-top: 30px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 14.52px;
    color: #a0a0a0;
    text-align: center;
  }

  .footer__yandex {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    line-height: 14.52px;
  }
}
