.login {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  margin: 0 auto;
  box-sizing: border-box;
}

.login__logo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
}

.login__title {
  align-self: flex-start;
  margin: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  margin-top: 40px;
  width: 100%;
}

.form__button {
  margin-top: 194px;
  width: 100%;
  padding: 13px 0 15px;
  background-color: #2be080;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-radius: 3px;
}

.form__button_inactive {
  cursor: auto;
  background-color: #f8f8f8;
  color: #000;
}

.login__question {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.login__link {
  margin-left: 4px;
  color: #2be080;
}

@media screen and (max-width: 450px) {
  .login {
    padding: 56px 0 30px;
    max-width: 260px;
    margin: 0 auto;
  }

  .login__logo {
    align-self: center;
  }

  .login__title {
    align-self: center;
    margin-top: 50px;
  }

  .login__form {
    margin-top: 80px;
  }

  .form__button {
    margin-top: 284px;
    width: 100%;
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .login__question {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}
