@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  background-color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #000;
}

.list {
  padding: 0;
  list-style-type: none;
}

.link {
  color: #000;
  text-decoration: none;
}

.button {
  padding: 0;
  border: none;
  background-color: #00000000;
}
