@import '../../styles/mixins.scss';

.stack {
  @include text-size(14px, 17px, 400);
  background-color: #e8e8e8;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 21px 0 22px;
  border-radius: 10px;
}

@include largeScreen {
  .stack {
    @include text-size(12px, 14.52px, 400);
    padding: 21px 0 21px;
  }
}
