.stack {
  background-color: #e8e8e8;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 21px 0 22px;
  border-radius: 10px;
}

@media screen and (max-width: 790px) {
  .stack {
    font-size: 12px;
    line-height: 14.52px;
    padding: 21px 0 21px;
  }
}
